{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'profiles/styles/auth.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'profiles/js/auth.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container main-container">
    <div class="row  h-100">
        <div class="col-lg-6">
            <div class="text-box">
                <h1 class="text-header">ClipJungle</h1>
                <p class="text-sub">View and share your awesome sports clips with friends on ClipJungle.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="auth">
                <div class="login-form-box">
                    <form class="login-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="error-message"></label>
                            <input type="email" class="form-control" placeholder="Email" id="loginEmail" required>
                        </div>
                        <div class="form-group">
                            <label class="error-message"></label>
                            <input type="password" class="form-control" placeholder="Password" id="loginPassword" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-login">Log In</button>
                        </div>
                        <div class="form-group">
                            <a href="#register-popup">
                                <button type="button" class="btn btn-register-popup">Register</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="register-popup" id="register-popup">
        <div class="register-form-box">
            <a href="#main" class="register-popup-close">&times;</a>
            <form class="register-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="error-message"></label>
                    <input type="text" class="form-control" placeholder="First Name" id="registerFirstName" required>
                </div>
                <div class="form-group">
                    <label class="error-message"></label>
                    <input type="text" class="form-control" placeholder="Last Name" id="registerLastName" required>
                </div>
                <div class="form-group">
                    <label class="error-message"></label>
                    <input type="text" class="form-control" placeholder="Username" id="registerUsername" required>
                </div>
                <div class="form-group">
                    <label class="error-message"></label>
                    <input type="email" class="form-control" placeholder="Email" id="registerEmail" required>
                </div>
                <div class="form-group">
                    <label class="error-message"></label>
                    <input type="password" class="form-control" placeholder="Password" id="registerPassword" required>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPassword"/>
                    <label for="showPassword"><span>Show Password</span></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-register">Register &rarr;</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}