{% extends 'base.html' %}
{% load static %}

{% block js %}
<script src="{% static 'profiles/js/login.js' %}"></script>
{% endblock %}

{% block content %}
<div class="login">
    <p class="error-text"></p>
    <div class="login__form">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form__group">
                <input type="email" class="form__input" placeholder="Email" id="email" required>
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form__group">
                <input type="password" class="form__input" placeholder="Password" id="password" required>
                <label for="password" class="form__label">Password</label>
            </div>
            <div class="form__group">
                <button type="submit">Login &rarr;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}