{% extends 'base.html' %}
{% load static %}

{% block js %}
<script src="{% static 'profiles/js/register.js' %}"></script>
{% endblock %}

{% block content %}
<div class="register">
    <div class="register__form">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form__group">
                <input type="text" class="form__input" placeholder="First Name" id="firstName" required>
                <label for="firstName" class="form__label">First Name</label>
            </div>
            <div class="form__group">
                <input type="text" class="form__input" placeholder="Last Name" id="lastName" required>
                <label for="lastName" class="form__label">Last Name</label>
            </div>
            <div class="form__group">
                <input type="text" class="form__input" placeholder="Username" id="username" required>
                <label for="username" class="form__label">Username</label>
            </div>
            <div class="form__group">
                <input type="email" class="form__input" placeholder="Email" id="email" required>
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form__group">
                <input type="password" class="form__input" placeholder="Password" id="password" required>
                <label for="password" class="form__label">Password</label>
            </div>
            <div class="form__group">
                <button type="submit">Register &rarr;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}