.main-container {
    height: 100vh;
}

input[type='email'] {
    text-transform: lowercase;
}

/* CSS FOR MAIN TEXT */

.text-box {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 2rem;

}

.text-header {
    color: var(--color-primary-dark);
    font-weight: 900;
    font-size: 5rem;
}

.text-sub {
    font-size: 3rem;
}

/* CSS FOR LOGIN */

.auth {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.login-form-box {
    background-color: var(--color-white-dark);
    padding: 3rem 0;
    box-shadow: 0 1rem 2rem rgba(0 ,0, 0, 0.6);
    border-radius: 2rem;
}

.login-form .form-group {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.login-form .form-group:not(:last-child) {
    margin-bottom: 3rem;
}

.login-form .form-group:last-child {
    padding-top: 2rem;
    border-top: 4px black solid;
}

.login-form input {
    font-size: 1.7rem;
    padding: 2rem 3rem;
    border-radius: 2px;
    border: 2px black solid;
}

.login-form input:focus {
    border-color: var(--color-primary);
}

.btn-login {
    background-color: var(--color-primary);
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 1.7rem;
    color: var(--color-extra-light-grey);
}

.btn-register-popup {
    background-color: var(--color-tertiary-dark);
    width: 80%;
    height: 5rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 1.7rem;
    color: var(--color-extra-light-grey);
    display: block;
    margin: 0 auto;
}


/* CSS FOR REGISTER POPUP */

.register-popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.register-popup:target {
    opacity: 1;
    visibility: visible;
    display: block;
}

.register-popup:target .register-form-box {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.register-popup-close {
    color: var(--color-tertiary-dark);
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

/* CSS FOR REGISTER FORM GROUPS AND INPUTS */

.register-form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
    opacity: 0;
    width: 50%;
    max-width: 80rem;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 3rem 0;
    box-shadow: 0 1rem 2rem rgba(0 ,0, 0, 0.6);
    border-radius: 2rem;
}

.register-form .form-group {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.register-form .form-group:not(:last-child) {
    margin-bottom: 3rem;
}

.register-form .form-group:last-child {
    padding-top: 2rem;
    border-top: 4px black solid;
}

.register-form input {
    font-size: 1.7rem;
    padding: 2rem 3rem;
    border-radius: 2px;
    border: 2px black solid;
}

.register-form input:focus {
    border-color: var(--color-tertiary-light);
}

/* CSS FOR MISC REGISTER FORM */

.btn-register {
    background-color: var(--color-tertiary-dark);
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 1.7rem;
    color: var(--color-extra-light-grey);
}

/* CSS FOR ERROR MESSAGES */
.error-message {
    display: none;
    color: var(--color-error);
    font-size: larger;
    font-weight: 700;
}

/* ANIMATIONS */

@keyframes shakeField {
    10%, 90% {
        transform: translateX(-0.5rem)
    }
      
    20%, 80% {
        transform: translateX(1rem)
    }
    
    30%, 50%, 70% {
        transform: translateX(-2rem)
    }
    
    40%, 60% {
        transform: translateX(2rem)
    }
}