@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

:root {
    --color-primary: #55c57a;
    --color-primary-extra-light: lightgreen;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;

    --color-tertiary-light: #00acee;
    --color-tertiary-dark: #009bd8;

    --color-secondary: #14171A;

    --color-error: #cc0000;

    --color-alert-success: rgba(0, 100, 0, 0.7);
    --color-alert-danger: rgba(200, 0, 0, 0.7);

    --color-extra-light-grey: #E1E8ED;
    --color-light-grey: #AAB8C2;
    --color-dark-grey: #657786;
 
    --color-white: #fff;
    --color-white-dark: #f4f4f4;
    --color-black: #000;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    background-color: var(--color-extra-light-grey);
}

.alerts-box {
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 10000;
}

.alerts-list {
    list-style: none;
}

.alert {
    color: var(--color-white-dark);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.alert:not(:last-child) {
    margin-bottom: 2rem;
}

.alert-success {
    background-color: var(--color-alert-success)
}

.alert-danger {
    background-color: var(--color-alert-danger)
}
.alert-body {
    font-size: 1.2rem;
}